@import "tailwindcss";

.container{
  @apply max-w-310 mx-auto;
}

@theme {
  --font-primary:  "Poppins", sans-serif; 
  --font-secondary:  "Inter", sans-serif;
  --font-roboto:  "Roboto", sans-serif;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-grid li {
  display: flex; /* ensures card takes full space if needed */
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.8s ease-out;
}